body, html {
	font-family:"Lucida Grande","Trebuchet MS",Verdana,sans-serif;
	color:#666;
	margin:0;
	padding:0;
	background:#ededed;
}
fieldset {
	width:300px;
	float:left;
	padding:5px;
	margin-left:4px;
	position:relative;
	background:#fff;
}

fieldset legend { 
	font-weight:bold;
	position:relative;
}

fieldset ul {
	height:200px;
	overflow:auto;
	margin:0; padding:0;
	list-style:none;
}

fieldset li {
	padding:6px;
	height:75px;
	margin-bottom:5px;
	margin-right:5px;
	border:1px solid #fff;
}

fieldset li img {
	width:42px;
	height:42px;
	float:left;
	border:0;
	padding:2px 6px 6px 0;
}

fieldset li p {
	font-size:10pt;
	margin-top:0;
}

li.unseen {
	background-color:#f7f4c6;
}

.nav {
	position:absolute;
	right:11px;
	top:-21px;
}

.icon {
	display:block;
	height:16px;
	width:16px;
	background:url("images/spriteRoundedIconsSmall.png") no-repeat -60px 1px;
	#background-image:url("images/spriteRoundedIconsSmall.gif");
}
.icon:hover,
.icon:focus {
	outline:none;
	background-position:-60px -29px;
}

#footer { 
	padding-top:1em; 
	font-size:10px;
}

#header, #footer {
	margin:0 auto;
	width:760px;
}

.wrapbot {
	border-bottom:1px solid #dedede;
}

.wraptop {
	border-top:1px solid #dedede;
}

#search { float:right; }

#content {
	padding:1em;
	background:#fff;
	clear:both;
}