/* external resources */
@import "menu.css"; 

/* Generic Styles */
body, html {
	font-family:"Lucida Grande","Trebuchet MS",Verdana,sans-serif;
	color:#1a212c;
	margin:0;
	padding:0;
	background:#ededed;
	font-size:100%;
}

h1, h2 {
	font-weight:normal;
	margin:0;
	padding:0;
}

a {
	color:#007069;
}

#header, #footer {
	margin:0 1em;
}

#search { 
	#float:right;
	margin:5px 0 0 0;
}

#search input {
	border:0;
	padding:5px;
	font-size:120%;
}

#content {
	padding:1em;
	background:#fff;
	clear:both;
}

/* the seperator lines */
.wraptop { 
	padding:1em 0;
	background-color:#1a212c;
	color:#fff;
	overflow:hidden;
}

.wraptop h1 {
	font-size:100%;
	#float:left;
	color:#fff;
}

.wrapbot { 
	border-top:1px solid #dedede; 
}

#menu {
	clear:both;
	padding:4px 4px 4px 10px;
	border-bottom:1px solid #dedede;
}

div.results {
	width:310px;
	float:left;
	margin:0 8px 14px 0;
	margin-left:4px;
	position:relative;
	border:2px solid #aebcd4;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}

div.results h2 { 
	font-size:100%;
	padding:8px;
	margin:0 0 5px 0;
	position:relative;
	color:#1a212c;
}

.nav {
	position:absolute;
	right:5px;
	top:6px;
}

/* the close icon for each fieldset */
div.results h2 .icon {
	display:block;
	height:16px;
	width:16px;
	background:url("images/spriteRoundedIconsSmall.png") no-repeat -60px 1px;
}

div.results h2 .icon:hover,
div.results h2 .icon:focus {
	outline:none;
	background-position:-60px -29px;
}

div.results ul {
	height:250px;
	overflow:auto;
	margin:8px; 
	padding:0;
	list-style:none;
}

div.results li {
	padding:5px 0 5px 5px;
	height:75px;
	margin:0 8px 5px 0;
	border:1px solid #aebcd4;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}

div.results li.unseen {
	border:1px solid #dedba7;
	color:#1a212c;
	background-color:#fffccc;
}

div.results li img {
	width:42px;
	height:42px;
	float:left;
	border:0;
	padding:2px 6px 6px 0;
}

div.results li p {
	font-size:9pt;
	margin-top:0;
	margin-bottom:2px;
}

/* the footer region */
#footer { 
	padding-top:1em; 
	font-size:10px;
}

/* reply, retween icons */
.options {
	width:20px;
	height:55px;
	padding:3px 5px 3px 3px;
	float:right;
	#visibility:hidden;
	opacity:0;
	text-align:center;
	-moz-transition:opacity 0.3s ease-in;
	-webkit-transition:opacity 0.3s ease-in;
}

.over .options {
	#visibility:visible;
	opacity:0.85;
}

.options a {
	font-size:8pt;
	text-decoration:none;
	display:block;
	width:16px;
	height:16px;
	text-indent:-999px;
	background:url("images/spriteRoundedIconsSmall.png") no-repeat -60px 1px;
	#background-image:url("images/spriteRoundedIconsSmall.gif");
}

.options a:focus,
.options a:hover {
	/* don't let me catch you doing this, evar. */
	outline:none;
}

a.replyicon {
	background:url(images/reply.gif) no-repeat center center;
	margin:0 0 10px 0;
}
a.retweeticon {
	background:url(images/forward.gif) no-repeat center center;
}

#config {
	height:0;
	overflow:hidden;
	position:absolute;
	top:0;
	right:50px;
	margin:0;
	padding:0;
	background:#000;
	color:#fff;
	font-size:10pt;
	line-height:1em;
}
#config div {
	padding:8px;
}
