.dijitMenuBar {
	background:transparent;
	margin:1px 0 0;
	cursor:pointer;
	height:1.9em;
}

.dijitMenuBar ul {
	list-style-image:none;
	list-style-type:none;
	list-style-position:outside;
	margin:0; padding:0;
}

.dijitMenuBar ul li a {
	color:#000;
	padding:2px 11px 2px 9px;
	z-index:999;
}
.dijitMenuBar ul li a:hover {
	color:#000;
	z-index:999;
}

.dijitMenuBar li {
	float:left;
}

.dijitMenuBar li ul {
	border:1px solid #666;
	background-color:#ededed;
	padding:2px;
	position:absolute;
	width:158px;
}

.dijitMenuBar a { display:block; }
.dijitMenuBar li ul li a {
	background-color:#fff;
	color:#000;
	position:relative;
	padding:1px 9px 1px 19px;
	width:130px;
}
.dijitMenuBar li ul li a:hover {
	background:#fff;
	/* this one either. */
	color:#000;
}

.dijitMenuBar ul li.selected a {
	background:#666;
	color:#fff;
}
.dijitMenuBar ul li.selected ul li a {
	background:#fff;
	color:#666;
}
.dijitMenuBar ul li.selected ul li a:hover {
	color:#000;
	background:#666;
}

.dijitMenuBar li ul ul {
	margin: -1.9em 0 0 158px;
}

.dijitMenuBar .dijitHotKey {
	text-decoration:underline;
}

/*
how to show the icon for expando 
.tundra .dijitMenuBar .dijitMenuHasChildren {
	background-image:url('../../dijit/themes/tundra/images/treeExpand_plus.gif');
	background-repeat:no-repeat;
	background-position: right center;
}

*/