.dijitMenuBar {
	background:transparent;
	margin:1px 0 0;
	cursor:pointer;
	height:1.5em;
}

.dijitMenuBar ul {
	list-style-image:none;
	list-style-type:none;
	list-style-position:outside;
	margin:0; padding:0;
}

.dijitMenuBar ul li a {
	padding:2px 11px 2px 9px;
	z-index:999;
	text-decoration:none;
}
.dijitMenuBar ul li a:hover {
	color:#fff;
	z-index:999;
}

.dijitMenuBar li {
	float:left;
}

.dijitMenuBar li ul {
	border:1px solid #dedede;
	background-color:#fff;
	position:absolute;
	width:198px;
	z-index:998;
}

.dijitMenuBar a { display:block; }
.dijitMenuBar li ul li a {
	background-color:#fff;
	position:relative;
	padding:1px 9px 1px 19px;
	width:170px;
}

.dijitMenuBar li ul li a:hover {
	background:#fff;
	/* this one either. */
	color:#000;
}

#menu .selected a {
	background:#1a212c;
	color:#fff;
}

#menu ul li.selected ul li a {
	background:#fff;
	color:#1a212c;
}

#menu ul li.selected ul li a:hover {
	color:#fff;
	background:#1a212c;
}

.dijitMenuBar li ul ul {
	margin: -1.9em 0 0 198px;
}

.dijitMenuBar .dijitHotKey {
	text-decoration:underline;
}

/*
how to show the icon for expando 
.tundra .dijitMenuBar .dijitMenuHasChildren {
	background-image:url('../../dijit/themes/tundra/images/treeExpand_plus.gif');
	background-repeat:no-repeat;
	background-position: right center;
}

*/
